.button {
  max-width: 200px;
  min-width: 50px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  font-size: 17px;
  background-color: transparent;
  display: block;

  &:hover {
    cursor: pointer;
  }
}

.primary {
  @extend .button;
  min-width: 100px;
  border-radius: 10px;
  background-color: #2F80ED;
}

.danger {
  @extend .button;
  min-width: 120px;
  background-color: #EB5757;
}

.right {
  margin: auto 0 auto auto;
}

.center {
  margin:  0 auto;
}

.left {
  margin: auto auto auto 0;
}
