.formAddTask {
 padding: 20px 0;
 display: flex;
 justify-content: space-between; 
}

.inputTask{
  flex: 1;
  margin-right: 20px;
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
}


